// MIXINS
@mixin xs {@media (max-width: 575px) {@content;}}
@mixin sm {@media (min-width: 576px) {@content;}}
@mixin md {@media (min-width: 768px) {@content;}}
@mixin lg {@media (min-width: 992px) {@content;}}
@mixin xl {@media (min-width: 1200px) {@content;}}

//VARIABLES
$green: #A5D9C8;
$white: #FFFFFF;
$yellow: #F6F0C6;
$dark-blue: #020056;
$box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

body {
  background: #F2F2F2 !important;
  font-family: 'Nunito', sans-serif !important;
}

.header-container {
  background: linear-gradient(270deg, #F6F0C6 0%, #D9135D 0.01%, rgba(214, 19,92, 0.996895) 0.02%, #F6F0C6 0.03%, #A6D9C8 80.73%, #A5D9C8 100%);
  height: 60px;

  h1 {
    color: $white;
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 0;

    @include xs {
      font-size: 30px;
    }
  }

  img {
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: text-bottom;
  }
}


.result-container {
  background: $white;
  box-shadow: $box-shadow;
  border-radius: 24px;
  margin-top: 48px;

  .ticket-counter {
    background: #A5D9C8;
    border-radius: 10px;

    .number-of-tickets,
    .number-of-tickets-title {
      font-size: 14px;
      margin: 0;
      color: $white;
      font-weight: 700;

      @include sm {
        font-size: 16px;
      }
    }

    .number-of-tickets {
      font-weight: 800;
    }

    .years-spent,
    .years-spent-title,
    .cost-of-tickets,
    .cost-of-tickets-title {
      font-size: 14px;
      margin: 0;
      color: $white;
      font-weight: 700;
    }
  }

  .match-counter-container {
    box-shadow: $box-shadow;
    border-radius: 10px;

      .match-counter-box {
        border: 1px solid $yellow;
        padding: 12px 0;

        p {
          margin: 0;
          padding: 0;
          font-weight: 700;
        }

        &:first-child {
          border-top-left-radius: 10px;

          @include md {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }
        }

        &:nth-child(2) {
          border-top-right-radius: 10px;

          @include md {
            border-radius: 0;
          }
        }

        &:nth-child(3) {
          border-bottom-left-radius: 10px;

          @include md {
            border-radius: 0;
          }
        }

        &:last-child {
          border-bottom-right-radius: 10px;

          @include md {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
      }
  }

  .winning-numbers-title,
  .player-number-title,
  .speed-title {
    font-size: 16px;
    color: $dark-blue;
    margin: 0;
    padding: 0;
  }

  .winning-number-container {
    .winning-number-box {
      background: $white;
      border: 1px solid $green;
      border-radius: 10px;
      padding: 7px 8px;
      font-size: 16px;
      margin: 0 10px 0 0;
      display: inline-flex;
      box-shadow: $box-shadow;
      width: 42px;
      height: 38px;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  .player-number-container {
    .player-number-box {
      background: $white;
      border: 1px solid $green;
      border-radius: 10px;
      padding: 7px 8px;
      font-size: 16px;
      margin: 0 10px 0 0;
      display: inline-flex;
      box-shadow: $box-shadow;
      width: 42px;
      height: 38px;
      text-align: center;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:focus-visible {
        outline: none !important;
      }
    }
  }

  .speed-container {
    width: 100%;

    .speed {
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 8px;
      background: $green;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
      border-radius: 5px;

      &:hover {
        opacity: 1;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 14px;
        height: 14px;
        background: $white;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid $green;
      }
    }
  }

  .lottery-controls {
    .lottery-button{
      width: 100%;
      padding: 8px;
      background: $green;
      border-radius: 10px;
      text-align: center;
      color: $white;
      font-weight: 700;
      text-decoration: none;
    }
  }
}